<div class="box-shadow">
	<div class="slider-wrap">
		<span class="backward"></span>
		<span class="forward"></span>
		<% @new_products.each do |product|%>
			<div class="slide">
				<span class="text" style="text-align:center;"><%=product.name%></span>
				<div class="box-opacity"></div>
				<img src="<%=product.image%>" alt="">
			</div>
		<%end%>
	</div>


	<div class="sphere-container  group">
		
		<% @categories.each do |cate| %>
											<div class="sphere <%= cate.to_s %>">
				<%= link_to "#{cate.capitalize}",controller:"products",action:"category",category:cate.to_s %>
			</div>
		<% end %>
	</div>
</div>