/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
h1,h2,h3,h4,h5,h6{
	font-family:opensans,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
	line-height: 1.4;
}
.box-shadow{
	border-radius: 5px;
	box-shadow: -5px 5px 10px gray;
}
.theme-color{
	background-color: #33691e;
	ul{
		padding:0px;
	}
	li,a{
		color:white;
	}
	.nav li a:hover{
		background-color:#558b2f;
	}
}
.sign-new{
	float:right;
	a{
		text-decoration:none;
		color:white;
		display: inline-block;
		margin:0 5px;
		font-size:1.1em;
		box-sizing:border-box;
	}
	a:hover{
		background-color:rgb(85,139,74);
	}
}