// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Roboto);

// .container-custom{
//   max-width:980px;
//   box-sizing:border-box;
//   margin:20px auto;
//   padding:0px;
//   box-shadow: 10px 5px 20px gray;
//   border-radius: 5%;
//   ul{
//   	padding:0px;
//   }
// }
.container-custom,.image-preview,
.details,.cart{
  box-sizing:border-box;
}
.padding-top{
	padding:15px;
	padding-top:50px;
}
.first-section{
}
.image-preview,
.details,.cart
{
  float:left;
}
.image-preview{
  width:40%;
  padding:10px;
  overflow:hidden;
}
.image-preview img{
  width:100%;
  height: 100%;
}
.details{
  width:40%;
  padding:10px;
}
.product-name{
  border-bottom: 1px solid gray;
}  
.details p{
  line-height: 2.5em;
}
.cart{
  width:20%;
}
.cart input{
  width:100%;
  height:50px;
  background: #6A9113; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #6A9113 , #141517); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #6A9113 , #141517); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius:10px;
  border:0px;
  color:yellow;
  font-size:1.25em;
}
.second-section{
	box-sizing:border-box;
	background: #70e1f5; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #70e1f5 , #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 5%;
	padding:10px;
}
.second-section h2{
  font-weight: bold;
  margin: 5px 0 15px 0;
}
.first-section, .second-section{
	margin-bottom: 50px;
}
.product-description{
  font-size:1.2em;
  line-height: 1.5em; 
}
.product-description span{
  font-weight: bold;
}


.thum-container{
	width:75.6%;
	float:right;
	text-align: center;
	padding:1.25%;
	box-sizing:border-box;
	.thum{
		width:30.59%;
		display: block;
		box-sizing:border-box;
		padding:40px 10px 10px 10px;
		height:350px;
		float:left;
		box-shadow:2px -2px 5px #cfcfcf  ;
		margin:15px 1.37%;
		border:1px solid #cfcfcf;
		position:relative;
		.thum-link{
			width:100%;
			position:absolute;
			top:0;
			right:0;
			height:100%;
		}
	}

	.product-image{
		margin-bottom: 25px;
		text-align:center;
		width:85%;
		height:35%;
	}
	.product-image img{
		width:100%;
		height:100%;
	}
	.product-details{
		height:65%;
		h4{
			height:50%;
		}
	}
	.price-block{
		box-sizing:border-box;
		margin-top: 15px;
		height:50%;
		display: inline-block;
		font-weight: 400;
	}
	.price-block a{
		display: block;
		text-decoration: none;
		color:#006fcc;
		font-size:1.8em;
		padding-left:12px;
	}
}
//filter side bar
.filter-container{
	width:22.4%;
	float:left;
	position:relative;
}
.filter{
	background-color: #8bc34a;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	display: block;
	color:white;
	font-size:120%;
	width:100%;
	padding:5%;
	top:0px;
	left:0px;

}
//custom side bootstrap
.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #558b2f;
    top: 0px;
    color: #e1ffff;
	.brand {
	    background-color: #32680c;
	    line-height: 50px;
	    display: block;
	    color:white;
	    text-align: center;
	    font-size: 18px;
	    padding:10px;
		}
	.toggle-btn {
	    display: none;
		}
	ul,
	li {
	    list-style: none;
	    padding: 2px;
	    margin: 0px;
	    line-height: 35px;
	    cursor: pointer;

	    /* .collapsed{ .arrow:before{ font-family: FontAwesome; content: "\f053"; display: inline-block; padding-left:10px; padding-right: 10px; vertical-align: middle; float:right; } } */
	}
	ul .active,
	li .active {
	    border-left: 3px solid #7cb342;
	    background-color: #4f5b69;
	}
	ul .sub-menu li.active
	{
	    color: #558b2f; //theme active color
	}

	ul .sub-menu li
	{
	    background-color: #0e4400;
	    border: none;
	    line-height: 28px;
	    border-bottom: 1px solid #001800;
	    margin-left: 0px;
	    padding:5px 10px;
	}
	ul .sub-menu li:hover
	{
	    background-color: #020203; //on hover effect
	}

	li {
	    padding-left: 7px;
	    border-left: 3px solid #3f7605;
	    border-bottom: 1px solid #2e6500;
	}

	li:hover {
	    border-left: 4px solid #76ff03;
	    border-bottom: 2px solid #76ff03;
	    background-color: #4b8125;
	    -webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    transition: all 1s ease;
	}
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}
.custom-btn{
	background-color: none;
	width:100%;
	height:100%;
	color:black;
}
//
.custom-pagination{
    display: inline-block;
    // width:100%;
    padding: 10px;
    margin: 0 auto;
    clear:both;
    a,span,em {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    display: inline;
		transition: background-color .3s;
	}
	em {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
	}
	a:hover
	{
	 background-color: #ddd;
   text-decoration: none;
	}
}