<nav class="navbar navbar-static-top theme-color custom-nav-style">
<div class="container">
	<div class="navbar-header">
		<%= link_to 'Home', root_path, class:'navbar-brand'%>
		<button class="navbar-toggle" data-toggle="collapse" data-target=".targetedNav">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<nav class="collapse navbar-collapse targetedNav">
		<ul class='nav navbar-nav navbar-left'>
			<% Product.main_categories.each do |cate| %>
			<li><%=link_to "#{cate}", category_path(cate)%></li>
			<% end %>
		</ul>	
	</nav>
</div>
</nav>
